<div class="container-fluid s-delivery">
    <img class="transition transition_convex s-delivery__transition2" src="img/transition.svg" alt="">
    <img class="transition s-delivery__transition1" src="img/transition-convex.svg" alt="">
    <div class="s-delivery__inner container content">
        <img src="img/s-delivery/main-img.png" alt="" class="s-delivery__main-img">
        <img src="img/s-delivery/main-img-mobile.png" alt="" class="s-delivery__main-img_mobile">
        <div class="s-delivery__info-block">
            <h2 class="title title_s-delivery title_lvl-2 text-white">
                у нАС ЕСТЬ ДОСТАВКА
            <img src="img/s-delivery/ico.png" alt="" class="title__ico">
            </h2>
            <p class="s-delivery__text">
                Скачивайте приложение и создавайте свое виртуальное кафе электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе
                с электронным меню, доставкой и возможностью предзаказаСкачивайте приложение и создавайте свое виртуальное кафе
            </p>
        </div>
    </div>
    <img src="img/s-delivery/balloons/1.png" alt="" class="balloon s-delivery__balloon s-delivery__balloon1">
    <img src="img/s-delivery/balloons/2.png" alt="" class="balloon s-delivery__balloon s-delivery__balloon2">
    <img src="img/s-delivery/balloons/3.png" alt="" class="balloon s-delivery__balloon s-delivery__balloon3">
</div>