<div class="container-fluid">
    <div class="container d-flex s-download content">
        <img src="img/s-download/main-img.png" alt="" class="s-download__main-img">
        <div class="s-download__info-block">
            <h1 class="title title_s-download title_lvl-1">
                <span class="text-info">ГДЕ</span> <span class="text-dark">СКАЧАТЬ</span>
                <img src="img/s-download/ico.png" alt="" class="title__ico">
            </h1>
            <p class="text-prompt">
                Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа 
            </p>
            <div class="s-download__img-box d-flex">
                <a href="#" class="s-download__link">
                    <img src="img/s-download/google-play.png" alt="">
                </a>
                <a href="#" class="s-download__link">
                    <img src="img/s-download/app-store.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>