<div class="container-fluid">
    <div class="container s-form">
        <h2 class="title title_s-form title_lvl-2">Связаться с нами 
            <img src="img/s-form/ico.png" alt="" class="title__ico">
        </h2>
        <p class="s-form__text">
            Вы можете связаться с нами  по любому вопросу
        </p>
        <form action="#" class="s-form__form">
            <div class="s-form__inner">
                <input type="text" class="s-form__input" placeholder="Ваше Имя">
                <input type="text" class="s-form__input" placeholder="Телефон">
                <input type="text" class="s-form__input" placeholder="E-mail">
                <p class="text-prompt s-form__condition">Нажимая на кнопку “Отправить” вы соглашаетесь с <a href="#">политикой конфиденциальности</a></p>
            </div>
            <button class="btn btn_orange" type="submit">
                ОТПРАВИТЬ
            </button>
            <p class="text-prompt s-form__condition s-form__condition_mobile">Нажимая на кнопку “Отправить” вы соглашаетесь <br> с <a href="#">политикой конфиденциальности</a></p>
        </form>
    </div>
</div>