<div class="container-fluid">
    <div class="container s-platform content">
        <div class="s-platform__info-block">
            <h2 class="title title_s-platform title_lvl-2">
                <span class="text-info">Единая плавтформа</span> ДЛЯ всей россии
            <img src="img/s-platform/ico.png" alt="" class="title__ico">
            </h2>
            <p class="s-platform__text text-prompt">
                Скачивайте приложение и создавайте свое виртуальное кафе электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе
    с электронным меню, доставкой и возможностью предзаказаСкачивайте приложение и создавайте свое виртуальное кафе
            </p>
        </div>
        <img src="img/s-platform/main-img.png" alt="" class="s-platform__main-img">
    </div>
    
</div>