<div class="container-fluid">
    <div class="container content s-questions">
        <div class="s-questions__info-block">
            <h2 class="title title_s-questions title_lvl-2">
                Часто задаваемы <span class="text-info">вопросы</span>
            <img src="img/s-questions/ico.png" alt="" class="title__ico">
            </h2>
            <div class="s-questions__btn-accordion s-questions__btn-accordion_activ text-prompt">
                <p class="s-questions__question">Вопрос в несколько слов</p>
                <div class="s-questions__inner-accordion">
                    <p class="s-questions__answer">Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение
                        и создавайте свое виртуальное кафе</p>
                </div>
            </div>
            <div class="s-questions__btn-accordion text-prompt">
                <p class="s-questions__question">Вопрос в несколько строк</p>
                <div class="s-questions__inner-accordion">
                    <p class="s-questions__answer">Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение
                        и создавайте свое виртуальное кафе</p>
                </div>
            </div>
            <div class="s-questions__btn-accordion text-prompt">
                <p class="s-questions__question">Вопрос в несколько букв</p>
                <div class="s-questions__inner-accordion">
                    <p class="s-questions__answer">Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение
                        и создавайте свое виртуальное кафе</p>
                </div>
            </div>
            <div class="s-questions__btn-accordion text-prompt">
                <p class="s-questions__question">Вопрос в несколько символов</p>
                <div class="s-questions__inner-accordion">
                    <p class="s-questions__answer">Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение
                        и создавайте свое виртуальное кафе</p>
                </div>
            </div>
            <div class="s-questions__btn-accordion text-prompt">
                <p class="s-questions__question">Вопрос в несколько слов</p>
                <div class="s-questions__inner-accordion">
                    <p class="s-questions__answer">Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение
                        и создавайте свое виртуальное кафе</p>
                </div>
            </div>
        </div>
        <img src="img/s-questions/main-img.png" alt="" class="s-questions__main-img ">
    </div>
</div>