<div class="container-fluid s-reviews">
    <img class="transition transition_convex s-reviews__transition2" src="img/transition.svg" alt="">
    <div class="s-reviews__inner">
        <div class="container content">
            <img src="img/s-reviews/main-img.png" alt="" class="s-reviews__main-img">
            <div class="s-reviews__info-block">
                <h1 class="title title_s-download text-white title_lvl-1">
                    отзывы
                    <img src="img/s-reviews/ico.png" alt="" class="title__ico">
                </h1>
                <p>
                    Скачивайте приложение и создавайте свое виртуальное афеэлектронным меню, доставкой и возможностью предзаказа:
                </p>

                <div class="swiper s-reviews__slider">
                    <div class="swiper-pagination"></div>
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <p class="s-reviews__slide-text">
                            Скачивайте приложение и создавайте свое виртуальное афеэлектронным меню, доставкой и возможностью предзаказа приложение и создавайте свое виртуальное афеэлектронным меню, доставкой и возможностью предзаказа приложение и создавайте свое виртуальное афеэлектронным меню, доставкой и возможностью предзаказа
                          </p>
                          <p class="s-reviews__name-user">
                            Андрей мирнов, Клиент
                          </p>
                      </div>
                      <div class="swiper-slide">
                          <p class="s-reviews__slide-text">
                            Скачивайте приложение и создавайте свое виртуальное афеэлектронным меню, доставкой и возможностью предзаказа приложение и создавайте свое виртуальное афеэлектронным меню, доставкой и возможностью предзаказа приложение и создавайте свое виртуальное афеэлектронным меню, доставкой и возможностью предзаказа
                          </p>
                          <p class="s-reviews__name-user">
                            Андрей мирнов, Клиент
                          </p>
                      </div>
                      <div class="swiper-slide">
                        <p class="s-reviews__slide-text">
                          Скачивайте приложение и создавайте свое виртуальное афеэлектронным меню, доставкой и возможностью предзаказа приложение и создавайте свое виртуальное афеэлектронным меню, доставкой и возможностью предзаказа приложение и создавайте свое виртуальное афеэлектронным меню, доставкой и возможностью предзаказа
                        </p>
                        <p class="s-reviews__name-user">
                          Андрей мирнов, Клиент
                        </p>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <img class="transition transition_convex s-reviews__transition1" src="img/transition-convex.svg" alt="">
    <img src="img/s-reviews/balloons/1.png" alt="" class="balloon s-reviews__balloon s-reviews__balloon1">
    <img src="img/s-reviews/balloons/2.png" alt="" class="balloon s-reviews__balloon s-reviews__balloon2">
    <img src="img/s-reviews/leaves.png" alt="" class="s-reviews__leaves">
</div>