<div class="container-fluid s-restaurants">
    <img class="transition s-restaurants__transition1" src="img/transition-convex.svg" alt="">
    <img class="transition s-restaurants__transition2" src="img/transition.svg" alt="">
    <div class="container s-restaurants__inner content">
        <div class="s-restaurants__info-block">
            <h2 class="title title_s-restaurants title_lvl-2 text-white"><span class="text-info">ВАШИ</span><br> ЛЮБИМЫЕ РЕСТОРАНЫ онлайн
            <img src="img/s-restaurants/ico.png" alt="" class="title__ico">
            </h2>
            <p class="s-restaurants__text">
                Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа
            </p>
            <div class="s-restaurants__num-info d-flex">
                <p>1740 + <br>
                <span>Скачиваний</span>
                </p>
                <p>12 + <br>
                <span> Ресторанов</span>
                </p>
                <p>ДО 90% <br>
                <span>Cкидки</span>
                </p>
            </div>
        </div>
        <img src="img/s-restaurants/main-img.png" alt="" class="s-restaurants__main-img">
        <img src="img/s-restaurants/main-img-mobile.png" alt="" class="s-restaurants__main-img_mobile">
    </div>

    <img src="img/s-restaurants/balloons/1.png" alt="" class="balloon s-restaurants__balloon s-restaurants__balloon1">
    <img src="img/s-restaurants/balloons/2.png" alt="" class="balloon s-restaurants__balloon s-restaurants__balloon2">
    <img src="img/s-restaurants/balloons/3.png" alt="" class="balloon s-restaurants__balloon s-restaurants__balloon3">
</div>