//title
$fz-lvl-1: 42px;
$fz-lvl-2: 32px;
$fz-lvl-3: 20px;
$fz-lvl-4: 18px;

//планшет
$md-fz-lvl-1: 16px;
$md-fz-lvl-2: 16px;
$md-fz-lvl-3: 20px;
$md-fz-lvl-4: 18px;

//мобильные
$mob-fz-lvl-1: 13px;
$mob-fz-lvl-2: 13px;
$mob-fz-lvl-3: 16px;
$mob-fz-lvl-4: 16px;
//title

//text
$color-info: #FF9C01; // некоторый выделяющийся текст
$color-prompt:#768C9B; //серый еле видный текст

//text